.card {
    min-height: 157px;
    width: 100%;
    background-color: #fff;
    padding: 24px;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.body {
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 16px;
    font-size: 20px;
    color: #232134;
}
.point {
    background-color: #7B7C88;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 14px;
}
.name {
    font-weight: 700;
    color: #232134;
    font-size: 28px;
    line-height: 34px;
    padding-right: 5px;
}
.salary {
    color: #232134;
    font-weight: 700;
}